@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* Solutions */
body {
  display: flex;
  flex-direction: column;
}

.header {
  flex: 1;
  display: flex;
  min-height: 10%;
}
.left-links {
  display: flex;
  gap: 20px;
  padding: 10px 3px;
  margin: 0;
  margin-right: auto;
  flex: 0 1 ;
}
.right-links {
  display: flex;
  margin: 0;
  padding: 10px 3px;
  gap: 20px;
  flex: 0 1 ;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  outline: none;
  text-align: center;
  line-height: 3;
  color: black;
}
a:link,
a:visited,
a:focus {
  /* background: palegoldenrod; */
  color: black;
}

.content {
  flex: 1;
  display: flex;
  flex: 0 1 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80%;
}

.footer {
  flex: 1;
  display: flex;
  min-height: 10%;
  background-color: #eee;
}

